<%- include('header') -%>

<form action="/compose" method="POST">
<h5>Title</h5>
<input type="text" name="title">
<h6>Content</h6>
<input type="text" name="essay">
<button>Publish</button>
</form>

<%- include('footer') -%>